<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Manufactures</title>
</head>
<body>
<div th:each="manufacture : ${manufactures}">
    <a th:href="@{/home/manufactures/{id}(id=${manufacture.getId()})}"
       th:text="${'Производство №' +manufacture.getId() + ': ' + manufacture.getName() + ', ' + manufacture.getAddress()}">Производство</a>
</div>
<hr>
<button type="submit" onClick="location.href='/home/manufactures/new'">Добавить производство</button>


</body>
</html>